@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes job-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-job-progress {
  animation: job-progress 1s linear infinite;
}

body {
  @apply bg-background text-white font-sans;
}

:disabled {
  opacity: 0.35;
}
